binaries
target
**/.gdb_history
ctap-2-1-pre.pdf
solo-bee.code-workspace
ref/
memory.x
solo-state.bin
bee.littlefs2
Cargo.lock
!runners/lpc55/Cargo.lock
!Cargo.lock
/license.txt
/commands.bd
/manifest.json
metrics.toml
utils/nrf-debugging/binary
utils/nrf-debugging/symbols.txt
utils/nrf-debugging/ocd.conf
utils/nrf-bootloader/build
utils/nrf-bootloader/bootloader.hex
utils/nrf-bootloader/mbr.hex
utils/nrf-bootloader/signing-key
utils/nrf-builder/bootloader-nk3am-nrf52-.zip
utils/nrf-builder/bootloader-nk3am-nrf52-1.2.2.zip
utils/nrf-builder/bootloader.hex
utils/nrf-builder/csr.pem
utils/nrf-builder/develop-nk3am-nrf52-.bin
utils/nrf-builder/develop-nk3am-nrf52-.hex
utils/nrf-builder/develop-nk3am-nrf52-.zip
utils/nrf-builder/develop-nk3am-nrf52-1.2.2.bin
utils/nrf-builder/develop-nk3am-nrf52-1.2.2.hex
utils/nrf-builder/develop-nk3am-nrf52-1.2.2.zip
utils/nrf-builder/firmware-nk3am-nrf52-.bin
utils/nrf-builder/firmware-nk3am-nrf52-.hex
utils/nrf-builder/firmware-nk3am-nrf52-.zip
utils/nrf-builder/firmware-nk3am-nrf52-1.2.2.bin
utils/nrf-builder/firmware-nk3am-nrf52-1.2.2.hex
utils/nrf-builder/firmware-nk3am-nrf52-1.2.2.zip
utils/nrf-builder/log.log
utils/nrf-builder/mbr.hex
utils/nrf-builder/provisioner-nk3am-nrf52-.bin
utils/nrf-builder/provisioner-nk3am-nrf52-.hex
utils/nrf-builder/provisioner-nk3am-nrf52-.zip
utils/nrf-builder/provisioner-nk3am-nrf52-1.2.2.bin
utils/nrf-builder/provisioner-nk3am-nrf52-1.2.2.hex
utils/nrf-builder/provisioner-nk3am-nrf52-1.2.2.zip
utils/nrf-builder/test-certs/

.vscode/