include: 'https://raw.githubusercontent.com/Nitrokey/common-ci-jobs/master/common_jobs.yml'

stages:
  - pull-github
  - build
  - deploy

variables:
  #Repo for shared scripts (pull.sh release.sh, nightly_upload.sh):
  GIT_STRATEGY: clone            #This seems to have no effect also set in webinterface
  GIT_DEPTH: 0                    #This seems to have no effect also set in webinterface
  GIT_SUBMODULE_STRATEGY: recursive #This seems to have no effect also set in webinterfac
  SCRIPTS_REPO: git@git.nitrokey.com:nitrokey/gitlab-ci.git
  REPO_GROUP: nitrokey
  REPO_NAME: nitrokey-3-firmware
  MAIN_BRANCH: main 
  IMAGE_NAME: nitrokey3
  COMMON_UPDATE_DOCKER: "true"

build-license-txt:
  image: registry.git.nitrokey.com/nitrokey/nitrokey-3-firmware/nitrokey3:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
  tags:
    - docker
  stage: build
  script:
    - make license.txt
  after_script:
    - mkdir -p artifacts
    - cp license.txt artifacts
    - wget $icon_server/checkmark/$CI_COMMIT_REF_NAME/$CI_COMMIT_SHA/$CI_JOB_NAME/$CI_JOB_STATUS/${CI_JOB_URL#*/*/*/}
  artifacts:
    paths:
      - artifacts

build-lpc55-nk3xn:
  image: registry.git.nitrokey.com/nitrokey/nitrokey-3-firmware/nitrokey3:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
  tags:
    - docker
  stage: build
  script:
    - rustup target add thumbv8m.main-none-eabi
    - rustup +nightly-2022-11-13 target add thumbv8m.main-none-eabi
    - mkdir -p artifacts nk3xn
    - export VERSION=`git describe --always`
    - apt-get install -y python3 python3-toml zip
    - make commands.bd
    - cp commands.bd nk3xn
    - make -C runners/embedded build-nk3xn FEATURES=provisioner
    - cp ./runners/embedded/artifacts/runner-lpc55-nk3xn.bin nk3xn/provisioner-nk3xn-lpc55-$VERSION.bin
    - make -C runners/embedded build-nk3xn FEATURES=alpha
    - cp ./runners/embedded/artifacts/runner-lpc55-nk3xn.bin nk3xn/alpha-nk3xn-lpc55-$VERSION.bin
    - make -C runners/embedded build-nk3xn
    - cp ./runners/embedded/artifacts/runner-lpc55-nk3xn.bin nk3xn/firmware-nk3xn-lpc55-$VERSION.bin
    - zip nk3xn-raw.zip nk3xn/*
    - cp nk3xn-raw.zip artifacts
  after_script:
    - git archive --format zip --output artifacts/nitrokey-3-firmware.zip --prefix nitrokey-3-firmware/ HEAD
    - wget $icon_server/checkmark/$CI_COMMIT_REF_NAME/$CI_COMMIT_SHA/$CI_JOB_NAME/$CI_JOB_STATUS/${CI_JOB_URL#*/*/*/}
  artifacts:
    paths:
      - artifacts

build-nrf52-nk3mini:
  image: registry.git.nitrokey.com/nitrokey/nitrokey-3-firmware/nitrokey3:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
  tags:
    - docker
  stage: build
  script:
    - apt-get install -y python3 python3-toml zip
    - rustup target add thumbv7em-none-eabihf
    - rustup +nightly-2022-11-13 target add thumbv7em-none-eabihf
    - export VERSION=`git describe --always`
    - mkdir -p artifacts nk3am
    - make -C runners/embedded build-nk3am.bl FEATURES=provisioner
    - cp runners/embedded/artifacts/*.bin nk3am/provisioner-nk3am-nrf52-$VERSION.bin
    - cp runners/embedded/artifacts/*.ihex nk3am/provisioner-nk3am-nrf52-$VERSION.ihex
    - make -C runners/embedded clean-nk3am.bl FEATURES=provisioner
    - make -C runners/embedded build-nk3am.bl FEATURES=alpha
    - cp runners/embedded/artifacts/*.bin nk3am/alpha-nk3am-nrf52-$VERSION.bin
    - cp runners/embedded/artifacts/*.ihex nk3am/alpha-nk3am-nrf52-$VERSION.ihex
    - make -C runners/embedded clean-nk3am.bl FEATURES=alpha
    - make -C runners/embedded build-nk3am.bl FEATURES=develop
    - make -C runners/embedded clean-nk3am.bl FEATURES=develop
    - make -C runners/embedded build-nk3am.bl FEATURES=release
    - cp runners/embedded/artifacts/*.bin nk3am/firmware-nk3am-nrf52-$VERSION.bin
    - cp runners/embedded/artifacts/*.ihex nk3am/firmware-nk3am-nrf52-$VERSION.ihex
    - zip nk3am-raw.zip nk3am/*
    - cp nk3am-raw.zip artifacts
  after_script:
    - wget $icon_server/checkmark/$CI_COMMIT_REF_NAME/$CI_COMMIT_SHA/$CI_JOB_NAME/$CI_JOB_STATUS/${CI_JOB_URL#*/*/*/}
  artifacts:
    paths:
      - artifacts
