include: 'https://raw.githubusercontent.com/Nitrokey/common-ci-jobs/master/common_jobs.yml'

stages:
  - pull-github
  - build
  - deploy

variables:
  #Repo for shared scripts (pull.sh release.sh, nightly_upload.sh):
  GIT_STRATEGY: clone            #This seems to have no effect also set in webinterface
  GIT_DEPTH: 0                    #This seems to have no effect also set in webinterface
  GIT_SUBMODULE_STRATEGY: recursive #This seems to have no effect also set in webinterfac
  SCRIPTS_REPO: git@git.nitrokey.com:nitrokey/gitlab-ci.git
  REPO_GROUP: nitrokey
  REPO_NAME: nitrokey-3-firmware
  MAIN_BRANCH: main 
  IMAGE_NAME: nitrokey3
  COMMON_UPDATE_DOCKER: "true"

build-license-txt:
  image: registry.git.nitrokey.com/nitrokey/nitrokey-3-firmware/nitrokey3:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
  tags:
    - docker
  stage: build
  script:
    - make license.txt
  after_script:
    - mkdir -p artifacts
    - cp license.txt artifacts
    - wget $icon_server/checkmark/$CI_COMMIT_REF_NAME/$CI_COMMIT_SHA/$CI_JOB_NAME/$CI_JOB_STATUS/${CI_JOB_URL#*/*/*/}
  artifacts:
    paths:
      - artifacts

build-lpc55-nk3xn:
  image: registry.git.nitrokey.com/nitrokey/nitrokey-3-firmware/nitrokey3:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
  tags:
    - docker
  stage: build
  script:
    - make commands.bd
    - make -C runners/lpc55 ci BOARD=nk3xn
    - make -C runners/lpc55 ci BOARD=nk3xn PROVISIONER=1
  after_script:
    - mkdir -p artifacts
    - export VERSION=`git describe --always`
    - cp ./runners/lpc55/firmware-nk3xn.bin artifacts/firmware-nk3xn-lpc55-$VERSION.bin
    - cp ./runners/lpc55/provisioner-nk3xn.bin artifacts/provisioner-nk3xn-lpc55-$VERSION.bin
    - cp ./commands.bd artifacts
    - sha256sum artifacts/* | tee artifacts/sha256sum
    - git archive --format zip --output artifacts/nitrokey-3-firmware.zip --prefix nitrokey-3-firmware/ HEAD
    - wget $icon_server/checkmark/$CI_COMMIT_REF_NAME/$CI_COMMIT_SHA/$CI_JOB_NAME/$CI_JOB_STATUS/${CI_JOB_URL#*/*/*/}
  artifacts:
    paths:
      - artifacts

build-lpc55-nk3am:
  image: registry.git.nitrokey.com/nitrokey/nitrokey-3-firmware/nitrokey3:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
  tags:
    - docker
  stage: build
  script:
    - make -C runners/lpc55 ci BOARD=nk3am
    - make -C runners/lpc55 ci BOARD=nk3am PROVISIONER=1
  after_script:
    - wget $icon_server/checkmark/$CI_COMMIT_REF_NAME/$CI_COMMIT_SHA/$CI_JOB_NAME/$CI_JOB_STATUS/${CI_JOB_URL#*/*/*/}

build-nrf52-nk3mini:
  image: registry.git.nitrokey.com/nitrokey/nitrokey-3-firmware/nitrokey3:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
  tags:
    - docker
  stage: build
  script:
    - apt-get install -y python3 python3-toml
    - rustup target add thumbv7em-none-eabihf
    - mkdir -p artifacts
    - make -C runners/embedded build-nk3am.bl FEATURES=provisioner
    - cp runners/embedded/artifacts/*.bin artifacts/provisioner-nk3am-nrf52.bin
    - cp runners/embedded/artifacts/*.ihex artifacts/provisioner-nk3am-nrf52.ihex
    - make -C runners/embedded clean-nk3am.bl FEATURES=provisioner
    - make -C runners/embedded build-nk3am.bl FEATURES=develop
    - cp runners/embedded/artifacts/*.bin artifacts/develop-nk3am-nrf52.bin
    - cp runners/embedded/artifacts/*.ihex artifacts/develop-nk3am-nrf52.ihex
    - make -C runners/embedded clean-nk3am.bl FEATURES=develop
    - make -C runners/embedded build-nk3am.bl FEATURES=release
    - cp runners/embedded/artifacts/*.bin artifacts/firmware-nk3am-nrf52.bin
    - cp runners/embedded/artifacts/*.ihex artifacts/firmware-nk3am-nrf52.ihex
  after_script:
    - wget $icon_server/checkmark/$CI_COMMIT_REF_NAME/$CI_COMMIT_SHA/$CI_JOB_NAME/$CI_JOB_STATUS/${CI_JOB_URL#*/*/*/}
  artifacts:
    paths:
      - artifacts
