[workspace]
members = [
    "components/*",
    "runners/embedded",
    "runners/usbip",
    "utils/collect-license-info",
    "utils/gen-commands-bd",
]
exclude = ["runners/lpc55"]
resolver = "2"

[workspace.package]
version = "1.2.2"

[patch.crates-io]
# forked
apdu-dispatch = { git = "https://github.com/Nitrokey/apdu-dispatch", tag = "v0.1.1-nitrokey-1" }
littlefs2 = { git = "https://github.com/Nitrokey/littlefs2", tag = "v0.3.2-nitrokey-1" }
lpc55-hal = { git = "https://github.com/Nitrokey/lpc55-hal", tag = "v0.3.0-nitrokey-1" }
trussed = { git = "https://github.com/Nitrokey/trussed", tag = "v0.1.0-nitrokey-4" }

# unreleased
interchange = { git = "https://github.com/trussed-dev/interchange" }
littlefs2-sys = { git = "https://github.com/trussed-dev/littlefs2-sys" }

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
incremental = false
debug = true

[profile.release.package.salty]
opt-level = 2
